.code-cell {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.editor-wrapper {
    position: relative;
    height: 100%;
    width: calc(100% - 10px);
}

.preview-wrapper {
    background-color: white;
    position: relative;
    /* height: 100%; */
    display: flex;
    flex-grow: 1;
}

.preview-wrapper iframe {
    background-color: white;
    width: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

/* iframe#webpack-dev-server-client-overlay {
    display: none !important
} */