@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E1525;
}

.code-cell {
    height: 100%;
}

.editor-wrapper {
    position: relative;
    height: 100%;
    width: calc(100% - 10px);
}

.preview-wrapper {
    background-color: white;
    position: relative;
    height: 80%;
    display: flex;
    flex-grow: 1;
    margin-right: 2rem;
    width: 100%;
}

.preview-wrapper iframe {
    background-color: white;
    width: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}


.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5575;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #0E1525;
}


/* iframe#webpack-dev-server-client-overlay {
    display: none !important
} */