.file-sys-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    text-wrap: nowrap;
    max-height: calc(50vh + 18px);
    min-height: calc(50vh + 18px);
    /* background-color: orange; */
}

.folder-container {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

/* .folder-main-container {
    display: flex;
    flex-direction: column;
} */

/* .folder-line::before {
    content: '';
    width: 20px;
    height: 20px;

    color: red;
} */

.folder-container-reverse {
    flex-direction: column-reverse;
}

.folder,
.file {
    cursor: pointer;
    border: 1px solid #0E1525;
    /* background-color: blue; */
}

.transformer {
    display: flex;
    align-items: center;
}

.folder:hover,
.file:hover {
    background: #2B3245;
}

.span-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.span-logo {
    margin-right: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    display: inline-block;
    background-position-y: center;
}

.clickable {
    /* background-color: red; */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.measurable {
    width: 235px;
}

.js-logo {
    background-image: url("../assets/js.svg");
}

.css-logo {
    background-image: url("../assets/css.svg");
}

.jsx-logo {
    background-image: url("../assets/jsx.svg");
}

.md-logo {
    background-image: url("../assets/readme.png");
}

.opened-folder {
    background-image: url("../assets/opened-folder.svg");
}

.closed-folder {
    background-image: url("../assets/folder.svg");
}

.clickable>* {
    pointer-events: none;
    user-select: none;
}

.not-seen {
    position: absolute;
    visibility: hidden;
}

.display-none {
    display: none;
}

@media screen and (min-width: 768px) {
    .file-sys-container {
        max-width: 205px;
        max-height: calc(55vh + 18px);
        min-height: calc(55vh + 18px);
    }

    .measurable {
        width: 200px
    }
}

@media screen and (min-width: 1024px) {
    .file-sys-container {
        max-height: calc(60vh + 18px);
        min-height: calc(55vh + 18px);
    }
}