.file-sys-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    text-wrap: nowrap;
    max-height: calc(50vh + 18px);
    min-height: calc(50vh + 18px);
    /* background-color: orange; */
}

.folder-container {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.custom-scrollbar-2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb {
    background: #4a5575;
    border-radius: 5px;
    visibility: visible;
    transition-property: all;
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

}


/* .file:hover .custom-scrollbar-2::-webkit-scrollbar-thumb {
    visibility: visible;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */



/* .folder-main-container {
    display: flex;
    flex-direction: column;
} */

/* .folder-line::before {
    content: '';
    width: 20px;
    height: 20px;

    color: red;
} */

.folder-container-reverse {
    flex-direction: column-reverse;
}

.folder,
.file {
    cursor: pointer;
    border: 1px solid #0E1525;
    /* background-color: blue; */
}

.transformer {
    display: flex;
    align-items: center;
}

.folder:hover,
.file:hover {
    background: #2B3245;
}

.hide-input {
    visibility: hidden;
    position: absolute;
}

/* .hide-input::before {
    content: '';
    height: 20px;
    background-color: blue;
} */

.span-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.span-logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    background-position-y: center;
}

.clickable:hover .three-dots {
    opacity: 1;
}

.measurable {
    width: 235px;
}

.js-logo {
    background-image: url("../assets/js.svg");
}

.css-logo {
    background-image: url("../assets/css.svg");
}

.jsx-logo {
    background-image: url("../assets/jsx.svg");
}

.md-logo {
    background-image: url("../assets/readme.svg");
}

.opened-folder {
    background-image: url("../assets/opened-folder.svg");
}

.closed-folder {
    background-image: url("../assets/folder.svg");
}

.three-dots {
    background-image: url("../assets/three-dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
}

.not-seen {
    position: absolute;
    visibility: hidden;
}

.display-none {
    display: none;
}

@media screen and (min-width: 768px) {
    .file-sys-container {
        max-width: 205px;
        max-height: calc(55vh + 18px);
        min-height: calc(55vh + 18px);
    }

    .measurable {
        width: 200px
    }
}

@media screen and (min-width: 1024px) {
    .file-sys-container {
        max-height: calc(60vh + 18px);
        min-height: calc(55vh + 18px);
    }
}